---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.svelte";
import Card from "../../components/Card.astro";
import { Image } from "astro:assets";
import Gallery from "../../components/Gallery.astro";

const { slag } = Astro.params;
let data = {};
export async function getStaticPaths() {
    const pages = await Astro.glob("../../data/service/*.json");
    return pages.map((e) => ({
        params: {
            slag: e.slag,
        },
        props: { e },
    }));
}

const GImages = await Astro.glob("../../assets/ambiance/*");
// const GImages = import.meta.glob("../../assets/ambiance/*");

let img1: Array<any> = [],
    img2: Array<any> = [],
    img3: Array<any> = [],
    img4: Array<any> = [];

for (let i = 0; i < GImages.length; i++) {
    if (i <= 4) img1.push(GImages[i]);
    else if (i >= 4 && i < 8) img2.push(GImages[i]);
    else if (i >= 8 && i < 12) img3.push(GImages[i]);
    else if (i >= 12 && i < 16) img4.push(GImages[i]);
}
console.log(GImages[0]);
const { e } = Astro.props;
---

<style>
    .btn-scroll {
        @apply absolute m-2 bg-primary rounded-full bottom-[50%] translate-y-[50%] w-14 h-14;
    }
</style>
<Layout title={e.title + "Service"}>
    <Header client:load />
    <div class="text-white">
        <div class="md:pt-20 h-screen relative text-white p-2 bg-bg">
            <Image
                src={e.image || "/imagePlaceholder.svg"}
                alt=""
                width="100"
                height={1}
                class="h-[80vh] w-[80vw] m-auto"
            />
            <div class="w-full h-full bg-black/20 top-0 absolute">
                <h1
                    class="text-center m-auto text-6xl -translate-x-1/2 -translate-y-1/2 top-[50%] absolute left-[50%]"
                >
                    Hello world
                </h1>
            </div>
        </div>

        <h1 class="md:text-3xl text-2xl md:pl-20 p-10 mb-10">
            {e.title} Service
        </h1>
        <div
            class="bg-secondary py-20 md:flex justify-around md:px-10 rounded-3xl md:w-[80%] w-[98%] m-auto"
        >
            <img
                src={e.images[0]}
                alt=""
                class="h-full w-full m-auto md:m-0 max-w-48 bg-cover"
            />
            <p
                class="md:text-xl text-sm m-5 md:pr-10 bg-secondary tracking-wider"
            >
                {e.desc}
            </p>
        </div>

        <Gallery first={img1} second={img2} third={img3} fourth={img4} />
        <!-- Section -->
        <div class="relative">
            <div
                class="w-full mt-10 relative overflow-auto h-auto md:my-10 py-1 md:px-10 p-1 bg-secondary no-scrollbar border border-[#525350]"
            >
                <div
                    class="bg-bg rounded-lg relative p-2 md:p-5 m-auto w-full overflow-hidden no-scrollbar"
                >
                    <div class="flex overflow-auto" id="slideIt">
                        {
                            e.sub_services.map((el) => (
                                <Card title={el.title} explanation={el.desc} />
                            ))
                        }
                    </div>
                </div>
            </div>
            <button id="scroll-left" class="md:block hidden btn-scroll left-0"
                ><img src="/arrow.svg" alt="" srcset="" class="w-full h-full" />
            </button>
            <button
                id="scroll-right"
                class="hidden md:block btn-scroll rotate-180 right-0"
                ><img src="/arrow.svg" alt="" srcset="" class="w-full h-full" />
            </button>
        </div>
    </div>
</Layout>
<script>
    let btnr = document.querySelector("#scroll-right");
    let btnl = document.querySelector("#scroll-left");
    btnr.addEventListener("click", function (e) {
        console.log("Clicked right");
        let scroller = document.querySelector("#slideIt");
        scroller.scroll({
            left: scroller.scrollLeft + 300,
            behavior: "smooth",
        });
    });

    btnl.addEventListener("click", function (e) {
        console.log("Clicked");
        let scroller = document.querySelector("#slideIt");
        scroller.scroll({
            left: scroller.scrollLeft - 300,
            behavior: "smooth",
        });
    });
</script>
