---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.svelte";
import Card from "../../components/Card.astro";
import { Image } from "astro:assets";
import Gallery from "../../components/Gallery.astro";
import type { ImageMetadata } from "astro";

let data = {};
export async function getStaticPaths() {
    const pages = await Astro.glob("../../data/service/*.json");
    return pages.map((e) => ({
        params: {
            slag: e.slag,
        },
        props: { e },
    }));
}

const { slag } = Astro.params;
const { e } = Astro.props;

let GImages;
switch (e.slag) {
    case "digital-marketing":
        GImages = await Astro.glob("../../assets/main/*");
        break;
    case "photography":
        GImages = await Astro.glob("../../assets/portfolio/*");
        break;
    case "graphics-design":
        GImages = await Astro.glob("../../assets/ambiance/*");
        break;
    case "weddingshoot":
        GImages = await Astro.glob("../../assets/weddings/*");
        break;
    case "prbranding":
        GImages = await Astro.glob("../../assets/ambiance/*");
        break;
    case "foodphotography":
        GImages = await Astro.glob("../../assets/food/*");
        break;
}
// const GImages = import.meta.glob("../../assets/ambiance/*");

let img1: Array<any> = [],
    img2: Array<any> = [],
    img3: Array<any> = [],
    img4: Array<any> = [];

for (let i = 0; i < GImages.length; i++) {
    if (i <= 4) img1.push(GImages[i]);
    else if (i >= 4 && i < 8) img2.push(GImages[i]);
    else if (i >= 8 && i < 12) img3.push(GImages[i]);
    else if (i >= 12 && i < 16) img4.push(GImages[i]);
}
// console.log(GImages[0]);

const getImg = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/main/*.(jpg|svg)",
);
// console.log(getImg);
let path = getImg.search;

let _imgg = getImg["/src/assets/main" + e.base_image] as any;
let imgg: any;
if (_imgg) {
    imgg = _imgg();
} else imgg = getImg["/src/assets/main/imagePlaceholder.svg"]();
---

<style>
    .btn-scroll {
        @apply absolute m-2 bg-primary rounded-full bottom-[50%] translate-y-[50%] w-14 h-14;
    }
</style>

<Layout title={e.title + "Service"}>
    <Header client:load/>
    <div class="text-white">
        <div class="md:pt-20 h-screen relative text-white p-2 bg-bg">
            <Image
                src={imgg || "/imagePlaceholder.svg"}
                alt=""
                class="md:h-[80vh] h-auto w-full md:w-auto absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 m-auto"
            />
            <div
                class="w-full h-full absolute backdrop-blur-[1px] bg-black/50 top-0"
            >
                <h1
                    class="text-center shadow-lg shadow-bg text-5xl md:text-6xl -translate-x-1/2 -translate-y-1/2 top-[50%] absolute left-[50%]"
                >
                    {e.title}
                </h1>
            </div>
        </div>

        <h1 class="md:text-3xl text-2xl md:pl-20 p-10 mb-10">
            {e.title} Service
        </h1>
        <div
            class="bg-secondary py-20 md:flex justify-around md:px-10 rounded-3xl md:w-[80%] w-[98%] m-auto"
        >
            <p
                class="md:text-xl text-sm m-5 md:pr-10 bg-secondary tracking-wider"
            >
                {e.desc}
            </p>
        </div>

        <!-- sub service Section -->
        {
            e.sub_services ? (
                <div class="relative">
                    <div class="w-full mt-10 relative overflow-auto h-auto md:my-10 py-1 md:px-10 p-1 bg-secondary no-scrollbar border border-[#525350]">
                        <div class="bg-bg rounded-lg relative p-2 md:p-5 m-auto w-full overflow-hidden no-scrollbar">
                            <div class="flex overflow-auto" id="slideIt">
                                {e.sub_services.map((el) => (
                                    <Card
                                        title={el.title}
                                        explanation={el.desc}
                                    />
                                ))}
                            </div>
                        </div>
                    </div>

                    <button
                        id="scroll-left"
                        class="md:block hidden btn-scroll left-0"
                    >
                        <img
                            src="/arrow.svg"
                            alt=""
                            srcset=""
                            class="w-full h-full"
                        />
                    </button>
                    <button
                        id="scroll-right"
                        class="hidden md:block btn-scroll rotate-180 right-0"
                    >
                        <img
                            src="/arrow.svg"
                            alt=""
                            srcset=""
                            class="w-full h-full"
                        />
                    </button>
                </div>
            ) : (
                <p class="text-white">
                    <br />
                </p>
            )
        }
    </div>
    <Gallery first={img1} second={img2} third={img3} fourth={img4} />
</Layout>
<script>
    let btnr = document.querySelector("#scroll-right");
    let btnl = document.querySelector("#scroll-left");
    btnr.addEventListener("click", function (e) {
        console.log("Clicked right");
        let scroller = document.querySelector("#slideIt");
        scroller.scroll({
            left: scroller.scrollLeft + 300,
            behavior: "smooth",
        });
    });

    btnl.addEventListener("click", function (e) {
        console.log("Clicked");
        let scroller = document.querySelector("#slideIt");
        scroller.scroll({
            left: scroller.scrollLeft - 300,
            behavior: "smooth",
        });
    });
</script>
