---
const {
	title = "[ Title ]",
	explanation = " [Explanation] ",
	link = "#",
	img = "/imagePlaceholder.svg",
} = Astro.props;

import Image from "astro/components/Image.astro";
let finalImage = import.meta.glob("/src/assets/main/*.{jpg,svg,png}");
let imgPath = "/src/assets/main/imagePlaceholder.svg";
if (finalImage[`/src/assets/main${img}`]) imgPath = `/src/assets/main${img}`;
console.log(img);
// console.log(await finalImage["../assets/main" + img](), "------------->", img);
---

<div
	class="max-w-sm w-64 h-auto md:p-6 p-2 md:mx-5 mx-2 border rounded-lg shadow bg-secondary border-gray-700"
>
	<div class="relative w-auto h-auto">
		<div class="absolute w-full h-full bg-black/70">
			<h5
				class="text-center translate-y-[35%] h-full md:text-2xl text-xl text-white"
			>
				{title}
			</h5>
		</div>
		<Image src={finalImage[imgPath]() as any} alt={title} class="w-full" />
	</div>

	<div class="w-96"></div>

	<p class="m-2 mt-5">{explanation}</p>

	<a
		href={link}
		class="flex m-auto mt-10 justify-center w-[80%] items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
	>
		Consult Us
		<svg
			class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
			aria-hidden="true"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 14 10"
		>
			<path
				stroke="currentColor"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M1 5h12m0 0L9 1m4 4L9 9"></path>
		</svg>
	</a>
</div>
