---
const {
	title = "[ Title ]",
	explanation = " [Explanation] ",
	link = "#",
	img = "/imagePlaceholder.svg",
} = Astro.props;
---

<div
	class="max-w-sm w-64 h-auto md:p-6 p-2 md:mx-5 mx-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-secondary dark:border-gray-700"
>
	<img src={img} alt="" width="100" class="m-auto" />
	<a href="#">
		<div class="w-80"></div>
		<h5
			class="mb-2 px-2 text-center md:text-2xl text-xl font-bold tracking-tight text-gray-900 dark:text-white"
		>
			{title}
		</h5>
		<p class="text-sm">{explanation}</p>
	</a>
	<!-- <p
		class="mb-3 text-sm px-2 text-justify font-normal h-auto w-[80%] text-gray-700 dark:text-gray-400"
	>
		{explanation}
	</p> -->
	<a
		href={link}
		class="flex m-auto mt-10 justify-center w-[80%] items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
	>
		Consult Us
		<svg
			class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
			aria-hidden="true"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 14 10"
		>
			<path
				stroke="currentColor"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M1 5h12m0 0L9 1m4 4L9 9"></path>
		</svg>
	</a>
</div>
