---
// import wedding from `../../assets/weddings/${'wedding.jpg'}`
import { Image } from "astro:assets";
const { title, description, src = "/imagePlaceholder.svg", link } = Astro.props;
function truncate(str: string, len: number) {
    let text = str.slice(0, len);
    if (str.length > len) return text + "...";
    else return text;
}

const _img = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/main/*.(jpg|svg)",
);

let img = _img[`/src/assets/main${src}`];
let finalSrc: any;
if (img) finalSrc = img();
else finalSrc = _img["/src/assets/main/imagePlaceholder.svg"]();

console.log(_img["/src/assets/main/imagePlaceholder.svg"]());
---

<div
    id="serv"
    class="flex relative flex-col justify-between w-60 md:w-80 rounded-lg md:h-[500px] h-[450px] md:m-12 m-6 border-4 border-secondary shadow-lg hover:scale-110 transition-all hover:shadow-primary bg-bg"
>
    <div class="mx-[1%] h-[60%] m-auto my-[1%] overflow-hidden relative">
        <div class="absolute w-full h-full bg-black/70"></div>
        <h1
            class="absolute translate-x-[-50%] text-primary text-center w-full translate-y-[-50%] left-[50%] top-[50%] md:text-2 px-[2%] text-2xl font-semibold font-primaryFont"
        >
            {title}
        </h1>
        <Image src={finalSrc} alt="" />
    </div>
    <div
        id="contentBox"
        class="w-full absolute bottom-0 h-[40%] rounded-t-[2.5rem] rounded-b-md overflow-hidden text-white bg-secondary transition-all"
    >
        <h1 class="m-5 md:text-2 xl text-xl font-semibold font-primaryFont">
        </h1>
        <p
            class="relative mx-5 mt-5 md:text-base text-sm h-auto pb-10 tracking-wider overflow-hidden"
        >
            {description}
            <span
                class="bg-gradient-to-b from-transparent to-secondary w-full absolute h-10 bottom-0 left-0"
            ></span>
        </p>
        <div class="absolute bottom-5 w-full hidden" id="reachOut">
            <div
                class="md:text-xl cursor-pointer my-2 text-base text-black w-[80%] m-auto bg-primary md:px-5 md:py-2 px-2 py-1 rounded-full font-semibold transition-all"
            >
                <a href={`/contact?for=Enquiry for ${title} service`}
                    >Reach Out to Us</a
                >
            </div>
            <div
                class="md:text-xl cursor-pointer my-2 text-base text-black w-[80%] m-auto bg-primary md:px-5 md:py-2 px-2 py-1 rounded-full font-semibold transition-all"
            >
                <a href={`/services/${link}`}>More Info</a>
            </div>
        </div>
    </div>
</div>
<style>
    #serv:hover #reachOut {
        display: block;
    }
    #serv:hover #contentBox {
        display: block;
        height: 90%;
    }
</style>
<script></script>
